.sidebar {
  height: 1000px;
  width: 150px;
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}
#menu-toggle {
  position: absolute; 
  top: 10px;
  right: 500px;
  background-color: #ffffff;
  color: white;
  border: none;    
  padding: 8px;
  width: 400px;          
  cursor: pointer;
  border-radius:20% ;
}

body{
    background-color: #111;
}
.sidebar a {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  width: 100%;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
  padding-left: 10px;
}

.content {
  margin-left: 240px; 
  padding: 20px;
}