.sidebar {
  height: 120px;
  width: 250px;
   position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;                  
  background: #0f0f0f;          
  color: #fff;
  padding: 10px;
  overflow-y: auto;  
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}
.sidebar sup{
  size: 80px;
}
.siz{
  size: 15px;
}
.vetri{
  color: rgb(143, 160, 160);
}
#menu-toggle {
  position: absolute; 
  top: -20px;
  right: 500px;
  background-color: #ffffff;
  color: white;
  border: none;  
  width: 400px;          
  cursor: pointer;
  border-radius:20% ;
}

.red{
  color: red;
  padding-top: 2px;
  margin: 0px;
}
body{
    background-color: #111;
}
.sidebar a {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  width: 100%;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
  padding-left: 10px;
}

.content {
  margin-left: 240px; 
  padding: 20px;
}