.premium-container {
  padding: 30px;
  font-family: Arial;
}

.premium-header {
  text-align: center;
  margin-bottom: 30px;
}

.yt-icon {
  color: red;
  font-size: 40px;
}

.premium-header h1 {
  margin-top: 10px;
  font-size: 32px;
}

.premium-header p {
  color: #555;
}

.premium-features {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.feature-card {
  background: #f1f1f1;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
}

.tick {
  color: green;
  font-size: 25px;
}

.plans-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

.plans-box {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.plan-card {
  background: white;
  border: 1px solid #ddd;
  width: 260px;
  padding: 20px;
  border-radius: 10px;
}

.plan-card h3 {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.plan-card ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

.plan-card button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
